.leaflet-container{
    height: 400px;
    width: 40%;
    padding: 5px;
}

.mainContainer {
    position:relative;
    display: flex;

}

.table{
width: 60%;
}

.row{
    cursor: pointer;
}
.rowRed{
    background-color: red ;
}

 table>tbody>tr:hover>td{
    background: none !important;
 }
